body				{background: #999;}

#page-wrap:after 	{content: "Wide Layout";}

nav					{float: left; width: 15%; height: 500px;}
nav span			{margin: 0px 100px 0px 0px;}
section				{float: right; width: 80%; height: 500px;}
footer				{position: fixed; bottom: 0;}footer {
    border-top: 1px solid #999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}